@media screen and (max-width: 500px) {
  .header .logo {
    margin-right: 0px !important;
  }
  .header .logo img {
    width: 200px !important;
    height: auto !important;
  }
  
  .fancybox-inner img {
    width: 200px !important;
    height: auto !important;
  }
}

@media screen and (max-width: 370px) {
  .header .logo img {
    width: 150px !important;
    height: auto !important;
  }
  
  .header-container.type4 .header > .logo {
    padding-right: 0px !important;
    padding-top: 8px !important;
  }
  
  .fancybox-inner img {
    width: 150px !important;
    height: auto !important;
  }
}

.header .logo {
  max-width: 320px;
}

.footer-bottom a.logo {
  margin-right: 12px !important;
}

//Auto Complete
.ui-corner-all
{
    -moz-border-radius: 4px 4px 4px 4px;
}
.ui-widget
{
    font-family: Verdana,Arial,sans-serif;
    font-size: 15px;
}
.ui-menu
{
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 2px;
}
.ui-autocomplete
{
    cursor: default;
    position: absolute;
}
.ui-menu .ui-menu-item
{
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 1.7;
    text-align: left;
}
.ui-menu .ui-menu-item a
{
    display: block;
    padding: 3px 3px 3px 3px;
    text-decoration: none;
    cursor: pointer;
    background-color: Green;
}
.ui-menu .ui-menu-item a:hover
{
    display: block;
    padding: 3px 3px 3px 3px;
    text-decoration: none;
    color: White;
    cursor: pointer;
    background-color: ButtonText;
}
.ui-widget-content a
{
    color: #222222;
}